{% extends "admin_tools/dashboard/module.html" %}
{% load i18n %}
{% block module_content %}
<ul>
    {% if module and module.children %}
    {% for child in module.children reversed %}
    <li rel="{% url api_dispatch_detail resource_name="task_status" pk=child.uid %}" class="{{child.status|lower}}">{{child}}<ul>
      <li>{{child.publish_date|date:"SHORT_DATETIME_FORMAT"}}</li>
      <li class="percentage">{{child.percentage}}% completed</li>
      <li>{{child.status}}</li>
  </ul></li>
    {% endfor %}
    {% endif %}</ul>
<script type="text/javascript">
    jQuery(document).ready(function(){
        window.setInterval(function(){
          $(".tscm_task_status .dashboard-module-content>ul>li:not(.success)").each(function(index, elm){
            if($(elm).hasClass("success")) return
            $.get(
                $(elm).attr('rel'),
                function(data){
                    elm.className = "";
                    $(elm).addClass(data.status.toLowerCase());
                    $(".percentage", elm).html(data.percentage + "% completed");
                    if (data.status.toLowerCase() == "success") {
                        $("li:last-child", elm).html(data.status);
                    }
                });
            });
        }, 2000);
    });
</script>
{% endblock %}

